[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
humanfriendly = "*"
tabulate = "*"
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
lightgbm = "*"
matplotlib = "*"
pivottablejs = "*"
plotly = "*"
itables = "*"
ipython = "*"

[dev-packages]
jupyterlab = "*"
jupytext = "*"
black = "*"
isort = "*"
jupyterlab_code_formatter = "*"


[pipenv]
allow_prereleases = false

[requires]
python_version = "3.11"